Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Colors
! special
!*.foreground:   #c5c8c6
!*.background:   #1d1f21
!*.cursorColor:  #c5c8c6
!
!! black
!*.color0:       #282a2e
!*.color8:       #373b41
!
!! red
!*.color1:       #a54242
!*.color9:       #cc6666
!
!! green
!*.color2:       #689d6a
!*.color10:      #b5bd68
!
!! yellow
!*.color3:       #de935f
!*.color11:      #f0c674
!
!! blue
!*.color4:       #5f819d
!*.color12:      #81a2be
!
!! magenta
!*.color5:       #85678f
!*.color13:      #b294bb
!
!! cyan
!*.color6:       #5e8d87
!*.color14:      #8abeb7
!
!! white
!*.color7:       #707880
!*.color15:      #c5c8c6
! special
*.foreground:   #a7a7a7
*.background:   #1e1e1e
*.cursorColor:  #a7a7a7

! black
*.color0:       #1e1e1e
*.color8:       #5f5a60

! red
*.color1:       #cf6a4c
*.color9:       #cf6a4c

! green
*.color2:       #8f9d6a
*.color10:      #8f9d6a

! yellow
*.color3:       #f9ee98
*.color11:      #f9ee98

! blue
*.color4:       #7587a6
*.color12:      #7587a6

! magenta
*.color5:       #9b859d
*.color13:      #9b859d

! cyan
*.color6:       #afc4db
*.color14:      #afc4db

! white
*.color7:       #a7a7a7
*.color15:      #ffffff


URxvt.allow_bold:           true

!scientifica
!URxvt*font: xft:Hack:size=11,xft:Font\ Awesome\ 5\ Free:size=11

! Fix font space
urxvt*font: xft:Hack:size=9
URxvt*letterSpace: 0

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false
URxvt.keysym.Shift-Up:   command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true

URxvt*perl-ext-common: default,matcher,selection-to-clipboard,font-size
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! Cursor
URxvt.cursorBlink:          true
!URxvt.cursorColor:          #C84F1F
Urxvt.cursorColor: #C8921F
URxvt.cursorUnderline: false

URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show
